# Generated with Expozy
# -MultiViews: Turns off multiviews -Indexes: Stop directory listings +FollowSymlinks: Let out rewrite rules work
Options -MultiViews -Indexes +FollowSymlinks

# Error Documents
#ErrorDocument 404 /error_404.php

<IfModule mod_deflate.c>
 AddOutputFilterByType DEFLATE text/plain
 AddOutputFilterByType DEFLATE text/html
 AddOutputFilterByType DEFLATE text/xml
 AddOutputFilterByType DEFLATE text/css
 AddOutputFilterByType DEFLATE application/xml
 AddOutputFilterByType DEFLATE application/xhtml+xml
 AddOutputFilterByType DEFLATE application/rss+xml
 AddOutputFilterByType DEFLATE application/javascript
 AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>

<ifModule mod_gzip.c>
 mod_gzip_on Yes
 mod_gzip_dechunk Yes
 mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
 mod_gzip_item_include handler ^cgi-script$
 mod_gzip_item_include mime ^text/.*
 mod_gzip_item_include mime ^application/x-javascript.*
 mod_gzip_item_exclude mime ^image/.*
 mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>

<IfModule mod_expires.c>
 ExpiresActive On
 ExpiresByType text/css "access plus 1 month"
 ExpiresByType text/x-javascript "access plus 1 month"
 ExpiresByType application/x-javascript "access plus 1 month"
 ExpiresByType application/javascript "access plus 1 month"
 #ExpiresByType text/html "access 1 month"
 #ExpiresByType application/pdf "access 1 month"
 #ExpiresByType application/x-shockwave-flash "access 1 month"
 #ExpiresByType image/x-icon "access 1 year"
 #ExpiresDefault "access 1 month"
 #ExpiresByType image/jpg "access 1 year"
 #ExpiresByType image/jpeg "access 1 year"
 #ExpiresByType image/gif "access 1 year"
 #ExpiresByType image/png "access 1 year"
</IfModule>

<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
</IfModule>

<IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteRule ^logout pages/logout.php [NC,L]

 RewriteRule ^google_feed$ google_feed.php [NC,L]
 RewriteRule ^rss$ pages/rss.php [NC,L]
 RewriteRule ^demo$ pages/other.php?demo=1 [QSA,L]
 RewriteRule ^downloadPages$ pages/other.php?downloadPages=1 [QSA,L]


 RewriteRule ^([a-z]{2})/sitemaps/sitemap_products core/sitemaps/sitemap_products.php?lang=$1 [NC,L,QSA]
 RewriteRule ^([a-z]{2})/sitemaps/sitemap_pages core/sitemaps/sitemap_pages.php?lang=$1 [NC,L,QSA]
 RewriteRule ^([a-z]{2})/sitemaps/sitemap_blog core/sitemaps/sitemap_blog.php?lang=$1 [NC,L,QSA]
 RewriteRule ^([a-z]{2})/sitemap core/sitemaps/index.php?lang=$1 [NC,L,QSA]
 RewriteRule ^([a-z]{2})/ index.php?lang=$1 [NC,L,QSA]
 RewriteRule ^private/([a-z]{2})/ index.php?lang=$1 [NC,L,QSA]


</IfModule>
