#notification {
  z-index: 999999;
  display: flex;
  position: fixed;
  align-items: flex-end;
  flex-direction: column-reverse;
  right: 0;
  width: 350px;
  margin: 20px;
}

.notice {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  padding: 0.75rem;
  max-width: 400px;
  --tw-bg-opacity: 1;
  background-color: rgb(12 74 110 / var(--tw-bg-opacity));
  border-radius: 0.25rem;
  cursor: pointer;
  width: 100%;
  margin-bottom: 1rem;
}




/*
    @font-face {
    font-family: 'Repo Light';
    font-style: normal;
    font-weight: normal;
    src: local('Repo Light'), url('../fonts/repo/Repo-Light.woff') format('woff');
    }


    @font-face {
    font-family: 'Repo Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Repo Medium'), url('../fonts/repo/Repo-Medium.woff') format('woff');
    }


    @font-face {
    font-family: 'Repo DemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Repo DemiBold'), url('../fonts/repo/Repo-DemiBold.woff') format('woff');
    }


    @font-face {
    font-family: 'Repo Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Repo Bold'), url('../fonts/repo/Repo-Bold.woff') format('woff');
    }


    @font-face {
    font-family: 'Repo ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Repo ExtraBold'), url('../fonts/repo/Repo-ExtraBold.woff') format('woff');
    }


    @font-face {
    font-family: 'Repo Black';
    font-style: normal;
    font-weight: normal;
    src: local('Repo Black'), url('../fonts/repo/Repo-Black.woff') format('woff');
    }


    @font-face {
    font-family: 'Repo ExtraBlack';
    font-style: normal;
    font-weight: normal;
    src: local('Repo ExtraBlack'), url('../fonts/repo/Repo-ExtraBlack.woff') format('woff');
    } */

.container img {
  margin: 0px !important;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.line-clamp-5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.line-clamp-6 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

.line-clamp-none {
  -webkit-line-clamp: unset;
}

.form-input {
  height: 2.5rem;
  width: 10%;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: inherit;
  background-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

html {
  scroll-behavior: smooth;
}


[x-cloak] {
  display: none !important;
}

a {
  cursor: pointer;
}

.msg-error {
  color: red;
  font-weight: bold;
}

.slider_glide {
  height: 300px !important;
}

.inline_cont {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
}

.inline_cont>a {
  top: 5px;
  left: 5px;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);
}

.inline_cont i {
  color: white;
  font-size: 30px;

}

.inline_cont span {
  position: absolute;
  position: absolute;
  left: 20%;
  top: 5%;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  position: relative;
}

.inline_on {
  background: rgb(255, 64, 129);
}

.inline_off {
  background: black;
}

.inline_off i {
  margin-top: 6px;
}

.inline_on i {
  margin-top: 7px;
  margin-left: 4px;
}

.swal2-confirm.swal2-styled {
  background-color: #312e81 !important;
}

.slider {
  height: 200px;
}

.slider .glide__slide {
  border: 2px solid;
  border-radius: 15px;
  border-color: rgb(209 213 219);
  padding: 5px;
}

.glide__arrow {
  background-color: rgb(0 0 0 / 21%) !important;
  padding: 0px !important;
}

@media (max-width: 1024px) {
  .lgNone {
    display: none !important;
  }

}

[class*=ribbon-wrapper] {
  position: relative;
  /* padding: 58px 18px 28px 18px; */
}


.ribbon {
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  clear: left;
  position: absolute;
  top: 12px;
  left: 0px;
  color: #fff;
  z-index: 2;
}

.ribbon-clip {
  left: -14px;
}

.ribbon-clip:before {
  position: absolute;
  top: 30px;
  left: 0;
  width: 0;
  height: 0;
  content: "";
  border: 7px solid transparent;
  border-top-color: #2c323f;
  border-right-color: #2c323f;
}

.ribbon-vertical-left-wrapper {
  padding-left: 40px;
  position: relative;
}

.ribbon-vertical-right-wrapper {
  padding-right: 40px;
}

.ribbon-wrapper-bottom {
  padding-bottom: 40px;
  padding-top: 0;
}

.ribbon-wrapper-right-bottom {
  padding-right: 40px;
}

.ribbon-space-bottom {
  top: 0px;
}

.ribbon-bookmark:before {
  position: absolute;
  top: 0;
  left: 100%;
  display: block;
  width: 0;
  height: 0;
  content: "";
  border: 15px solid #2c323f;
  border-right: 10px solid transparent;
}

.ribbon-right {
  left: auto;
  right: -2px;
}

.ribbon-clip-right {
  right: -14px;
}

.ribbon-clip-right:before {
  position: absolute;
  top: 30px;
  right: 0;
  width: 0;
  height: 0;
  content: "";
  border: 7px solid transparent;
  border-top-color: #2c323f;
  border-right-color: #2c323f;
}

.ribbon-clip-bottom {
  left: -14px;
  bottom: 12px;
  top: auto;
}

.ribbon-clip-bottom:before {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 0;
  height: 0;
  content: "";
  border: 7px solid transparent;
  border-top-color: #2c323f;
  border-right-color: #2c323f;
}

.ribbon-clip-bottom-right {
  right: -14px;
  left: auto;
  bottom: 12px;
  top: auto;
}

.ribbon-clip-bottom-right:before {
  position: absolute;
  bottom: 30px;
  right: 0;
  width: 0;
  height: 0;
  content: "";
  border: 7px solid transparent;
  border-top-color: #2c323f;
  border-right-color: #2c323f;
}

.ribbon-bookmark.ribbon-right:before {
  right: 100%;
  left: auto;
  border-right: 15px solid #2c323f;
  border-left: 10px solid transparent;
}

.ribbon-vertical-left {
  clear: none;
  padding: 0 5px;
  height: 70px;
  width: 30px;
  line-height: 70px;
  text-align: center;
  left: 12px;
  top: -2px;
}

.ribbon-vertical-right {
  clear: none;
  padding: 0 5px;
  height: 70px;
  width: 30px;
  line-height: 70px;
  text-align: center;
  top: -2px;
  left: auto;
  right: 20px;
}

[dir=rtl] .ribbon-vertical-right {
  left: auto !important;
  right: 20px !important;
}

.ribbon-bookmark.ribbon-vertical-left:before,
.ribbon-bookmark.ribbon-vertical-right:before {
  top: 100%;
  left: 0;
  margin-top: -14px;
  border-right: 15px solid #2c323f;
  border-bottom: 10px solid transparent;
}

.ribbon-primary {
  background: #7366FF;
}

.ribbon-primary {
  background: #7366FF;
}

.ribbon-bookmark.ribbon-primary:before {
  border-color: #7366FF;
  border-right-color: transparent;
}

.ribbon-bookmark.ribbon-right.ribbon-primary:before {
  border-right-color: #7366FF;
  border-left-color: transparent;
}

.ribbon-bookmark.ribbon-vertical-left.ribbon-primary:before,
.ribbon-bookmark.ribbon-vertical-right.ribbon-primary:before {
  border-right-color: #7366FF;
  border-bottom-color: transparent;
}

.ribbon-primary.ribbon-corner:before {
  border-top-color: #7366FF;
  border-left-color: #7366FF;
}

.ribbon-primary.ribbon-corner.ribbon-right:before {
  border-right-color: #7366FF;
  border-left-color: transparent;
}

.ribbon-primary.ribbon-corner.ribbon-bottom:before {
  border-top-color: transparent;
  border-bottom-color: #7366FF;
}

.ribbon-primary.ribbon-clip:before {
  border-color: transparent;
  border-top-color: #4433ff;
  border-right-color: #4433ff;
}

.ribbon-primary.ribbon-clip-right:before {
  border-right-color: transparent;
  border-top-color: #4433ff;
  border-left-color: #4433ff;
}

.ribbon-primary.ribbon-clip-bottom:before {
  border-top-color: transparent;
  border-bottom-color: #4433ff;
  border-right-color: #4433ff;
}

.ribbon-primary.ribbon-clip-bottom-right:before {
  border-top-color: transparent;
  border-bottom-color: #4433ff;
  border-right-color: transparent;
  border-left-color: #4433ff;
}

.ribbon-secondary {
  background: #FF3364;
}

.ribbon-secondary {
  background: #FF3364;
}

.ribbon-bookmark.ribbon-secondary:before {
  border-color: #FF3364;
  border-right-color: transparent;
}

.ribbon-bookmark.ribbon-right.ribbon-secondary:before {
  border-right-color: #FF3364;
  border-left-color: transparent;
}

.ribbon-bookmark.ribbon-vertical-left.ribbon-secondary:before,
.ribbon-bookmark.ribbon-vertical-right.ribbon-secondary:before {
  border-right-color: #FF3364;
  border-bottom-color: transparent;
}

.ribbon-secondary.ribbon-corner:before {
  border-top-color: #FF3364;
  border-left-color: #FF3364;
}

.ribbon-secondary.ribbon-corner.ribbon-right:before {
  border-right-color: #FF3364;
  border-left-color: transparent;
}

.ribbon-secondary.ribbon-corner.ribbon-bottom:before {
  border-top-color: transparent;
  border-bottom-color: #FF3364;
}

.ribbon-secondary.ribbon-clip:before {
  border-color: transparent;
  border-top-color: #ff003d;
  border-right-color: #ff003d;
}

.ribbon-secondary.ribbon-clip-right:before {
  border-right-color: transparent;
  border-top-color: #ff003d;
  border-left-color: #ff003d;
}

.ribbon-secondary.ribbon-clip-bottom:before {
  border-top-color: transparent;
  border-bottom-color: #ff003d;
  border-right-color: #ff003d;
}

.ribbon-secondary.ribbon-clip-bottom-right:before {
  border-top-color: transparent;
  border-bottom-color: #ff003d;
  border-right-color: transparent;
  border-left-color: #ff003d;
}

.ribbon-success {
  background: #54BA4A;
}

.ribbon-success {
  background: #54BA4A;
}

.ribbon-bookmark.ribbon-success:before {
  border-color: #54BA4A;
  border-right-color: transparent;
}

.ribbon-bookmark.ribbon-right.ribbon-success:before {
  border-right-color: #54BA4A;
  border-left-color: transparent;
}

.ribbon-bookmark.ribbon-vertical-left.ribbon-success:before,
.ribbon-bookmark.ribbon-vertical-right.ribbon-success:before {
  border-right-color: #54BA4A;
  border-bottom-color: transparent;
}

.ribbon-success.ribbon-corner:before {
  border-top-color: #54BA4A;
  border-left-color: #54BA4A;
}

.ribbon-success.ribbon-corner.ribbon-right:before {
  border-right-color: #54BA4A;
  border-left-color: transparent;
}

.ribbon-success.ribbon-corner.ribbon-bottom:before {
  border-top-color: transparent;
  border-bottom-color: #54BA4A;
}

.ribbon-success.ribbon-clip:before {
  border-color: transparent;
  border-top-color: #42973a;
  border-right-color: #42973a;
}

.ribbon-success.ribbon-clip-right:before {
  border-right-color: transparent;
  border-top-color: #42973a;
  border-left-color: #42973a;
}

.ribbon-success.ribbon-clip-bottom:before {
  border-top-color: transparent;
  border-bottom-color: #42973a;
  border-right-color: #42973a;
}

.ribbon-success.ribbon-clip-bottom-right:before {
  border-top-color: transparent;
  border-bottom-color: #42973a;
  border-right-color: transparent;
  border-left-color: #42973a;
}

.ribbon-danger {
  background: #FC4438;
}

.ribbon-danger {
  background: #FC4438;
}

.ribbon-bookmark.ribbon-danger:before {
  border-color: #FC4438;
  border-right-color: transparent;
}

.ribbon-bookmark.ribbon-right.ribbon-danger:before {
  border-right-color: #FC4438;
  border-left-color: transparent;
}

.ribbon-bookmark.ribbon-vertical-left.ribbon-danger:before,
.ribbon-bookmark.ribbon-vertical-right.ribbon-danger:before {
  border-right-color: #FC4438;
  border-bottom-color: transparent;
}

.ribbon-danger.ribbon-corner:before {
  border-top-color: #FC4438;
  border-left-color: #FC4438;
}

.ribbon-danger.ribbon-corner.ribbon-right:before {
  border-right-color: #FC4438;
  border-left-color: transparent;
}

.ribbon-danger.ribbon-corner.ribbon-bottom:before {
  border-top-color: transparent;
  border-bottom-color: #FC4438;
}

.ribbon-danger.ribbon-clip:before {
  border-color: transparent;
  border-top-color: #fb1506;
  border-right-color: #fb1506;
}

.ribbon-danger.ribbon-clip-right:before {
  border-right-color: transparent;
  border-top-color: #fb1506;
  border-left-color: #fb1506;
}

.ribbon-danger.ribbon-clip-bottom:before {
  border-top-color: transparent;
  border-bottom-color: #fb1506;
  border-right-color: #fb1506;
}

.ribbon-danger.ribbon-clip-bottom-right:before {
  border-top-color: transparent;
  border-bottom-color: #fb1506;
  border-right-color: transparent;
  border-left-color: #fb1506;
}

.ribbon-info {
  background: #16C7F9;
}

.ribbon-info {
  background: #16C7F9;
}

.ribbon-bookmark.ribbon-info:before {
  border-color: #16C7F9;
  border-right-color: transparent;
}

.ribbon-bookmark.ribbon-right.ribbon-info:before {
  border-right-color: #16C7F9;
  border-left-color: transparent;
}

.ribbon-bookmark.ribbon-vertical-left.ribbon-info:before,
.ribbon-bookmark.ribbon-vertical-right.ribbon-info:before {
  border-right-color: #16C7F9;
  border-bottom-color: transparent;
}

.ribbon-info.ribbon-corner:before {
  border-top-color: #16C7F9;
  border-left-color: #16C7F9;
}

.ribbon-info.ribbon-corner.ribbon-right:before {
  border-right-color: #16C7F9;
  border-left-color: transparent;
}

.ribbon-info.ribbon-corner.ribbon-bottom:before {
  border-top-color: transparent;
  border-bottom-color: #16C7F9;
}

.ribbon-info.ribbon-clip:before {
  border-color: transparent;
  border-top-color: #06a8d6;
  border-right-color: #06a8d6;
}

.ribbon-info.ribbon-clip-right:before {
  border-right-color: transparent;
  border-top-color: #06a8d6;
  border-left-color: #06a8d6;
}

.ribbon-info.ribbon-clip-bottom:before {
  border-top-color: transparent;
  border-bottom-color: #06a8d6;
  border-right-color: #06a8d6;
}

.ribbon-info.ribbon-clip-bottom-right:before {
  border-top-color: transparent;
  border-bottom-color: #06a8d6;
  border-right-color: transparent;
  border-left-color: #06a8d6;
}

.ribbon-light {
  background: #f4f4f4;
}

.ribbon-light {
  background: #f4f4f4;
}

.ribbon-bookmark.ribbon-light:before {
  border-color: #f4f4f4;
  border-right-color: transparent;
}

.ribbon-bookmark.ribbon-right.ribbon-light:before {
  border-right-color: #f4f4f4;
  border-left-color: transparent;
}

.ribbon-bookmark.ribbon-vertical-left.ribbon-light:before,
.ribbon-bookmark.ribbon-vertical-right.ribbon-light:before {
  border-right-color: #f4f4f4;
  border-bottom-color: transparent;
}

.ribbon-light.ribbon-corner:before {
  border-top-color: #f4f4f4;
  border-left-color: #f4f4f4;
}

.ribbon-light.ribbon-corner.ribbon-right:before {
  border-right-color: #f4f4f4;
  border-left-color: transparent;
}

.ribbon-light.ribbon-corner.ribbon-bottom:before {
  border-top-color: transparent;
  border-bottom-color: #f4f4f4;
}

.ribbon-light.ribbon-clip:before {
  border-color: transparent;
  border-top-color: #dbdbdb;
  border-right-color: #dbdbdb;
}

.ribbon-light.ribbon-clip-right:before {
  border-right-color: transparent;
  border-top-color: #dbdbdb;
  border-left-color: #dbdbdb;
}

.ribbon-light.ribbon-clip-bottom:before {
  border-top-color: transparent;
  border-bottom-color: #dbdbdb;
  border-right-color: #dbdbdb;
}

.ribbon-light.ribbon-clip-bottom-right:before {
  border-top-color: transparent;
  border-bottom-color: #dbdbdb;
  border-right-color: transparent;
  border-left-color: #dbdbdb;
}

.ribbon-dark {
  background: #2c323f;
}

.ribbon-dark {
  background: #2c323f;
}

.ribbon-bookmark.ribbon-dark:before {
  border-color: #2c323f;
  border-right-color: transparent;
}

.ribbon-bookmark.ribbon-right.ribbon-dark:before {
  border-right-color: #2c323f;
  border-left-color: transparent;
}

.ribbon-bookmark.ribbon-vertical-left.ribbon-dark:before,
.ribbon-bookmark.ribbon-vertical-right.ribbon-dark:before {
  border-right-color: #2c323f;
  border-bottom-color: transparent;
}

.ribbon-dark.ribbon-corner:before {
  border-top-color: #2c323f;
  border-left-color: #2c323f;
}

.ribbon-dark.ribbon-corner.ribbon-right:before {
  border-right-color: #2c323f;
  border-left-color: transparent;
}

.ribbon-dark.ribbon-corner.ribbon-bottom:before {
  border-top-color: transparent;
  border-bottom-color: #2c323f;
}

.ribbon-dark.ribbon-clip:before {
  border-color: transparent;
  border-top-color: #171a21;
  border-right-color: #171a21;
}

.ribbon-dark.ribbon-clip-right:before {
  border-right-color: transparent;
  border-top-color: #171a21;
  border-left-color: #171a21;
}

.ribbon-dark.ribbon-clip-bottom:before {
  border-top-color: transparent;
  border-bottom-color: #171a21;
  border-right-color: #171a21;
}

.ribbon-dark.ribbon-clip-bottom-right:before {
  border-top-color: transparent;
  border-bottom-color: #171a21;
  border-right-color: transparent;
  border-left-color: #171a21;
}

.ribbon-warning {
  background: #FFAA05;
}

.ribbon-warning {
  background: #FFAA05;
}

.ribbon-bookmark.ribbon-warning:before {
  border-color: #FFAA05;
  border-right-color: transparent;
}

.ribbon-bookmark.ribbon-right.ribbon-warning:before {
  border-right-color: #FFAA05;
  border-left-color: transparent;
}

.ribbon-bookmark.ribbon-vertical-left.ribbon-warning:before,
.ribbon-bookmark.ribbon-vertical-right.ribbon-warning:before {
  border-right-color: #FFAA05;
  border-bottom-color: transparent;
}

.ribbon-warning.ribbon-corner:before {
  border-top-color: #FFAA05;
  border-left-color: #FFAA05;
}

.ribbon-warning.ribbon-corner.ribbon-right:before {
  border-right-color: #FFAA05;
  border-left-color: transparent;
}

.ribbon-warning.ribbon-corner.ribbon-bottom:before {
  border-top-color: transparent;
  border-bottom-color: #FFAA05;
}

.ribbon-warning.ribbon-clip:before {
  border-color: transparent;
  border-top-color: #d18a00;
  border-right-color: #d18a00;
}

.ribbon-warning.ribbon-clip-right:before {
  border-right-color: transparent;
  border-top-color: #d18a00;
  border-left-color: #d18a00;
}

.ribbon-warning.ribbon-clip-bottom:before {
  border-top-color: transparent;
  border-bottom-color: #d18a00;
  border-right-color: #d18a00;
}

.ribbon-warning.ribbon-clip-bottom-right:before {
  border-top-color: transparent;
  border-bottom-color: #d18a00;
  border-right-color: transparent;
  border-left-color: #d18a00;
}

/* INPUT LABEL ANIMATION  */
.input-with-placeholder {
  width: 250px;
  position: relative;
}

.input-with-placeholder label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 300ms all;
}

.input-with-placeholder input {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  background: #f8f8f8;
}

.input-with-placeholder input:focus+label {
  height: 50%;
  padding-left: 0;
  transform: translateY(-100%);
  font-size: 12px;
  color: #777;
}

.input-with-placeholder input:focus+label,
.input-with-placeholder input:valid+label {
  height: 50%;
  padding-left: 0;
  transform: translateY(-100%);
  font-size: 12px;
  color: #777;
}

/* END INPUT LABEL ANIMATION */